:root {
  --base-color: #ffc600;
  --spacing: 10px;
  --blur: 0px;
}

img {
  padding: var(--spacing)px;
  filter: blur(var(--blur)px);
  background: var(--base-color);
}

.hl {
  color: var(--base-color);
}

/*
  misc styles, nothing to do with CSS variables
*/

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 30px;
}

input {
  width:100px;
}

img {
  width: 550px;
  height: 350px;
}

.controls {
  margin-bottom: 30px;
}
